<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="action_name" default="MyActionSkill"/>

    <!-- Symbolic Pose Interaction Skill -->
    <node name="my_action_skill" pkg="my_action_skill_server" type="my_action_skill_server" output="screen">
      <param name='action_name' value='$(arg action_name)' />
    </node>
</launch>
